@model IEnumerable<prjShoppingCar.Models.tOrderDetail>

@{
    ViewBag.Title = "會員購物車清單";
}

<h2>會員購物車清單</h2>

@* 購物車Js *@
<script type="text/javascript">
        //網頁載入完成時執行之function
        $(document).ready(function () {
            console.log("ready!");
        });

        //變更商品數量
    function UpdateFromCart(sel,fId) {      
        var productQty = sel.value;       
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateCar")',
                data: { fId: fId, fQty: productQty }
            })           
      location.reload();
    }
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fOrderGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAmount)
        </th>
        <th></th>
    </tr>

    @{ int subTotal = 0; }
    @foreach (var item in Model)
    {

        // 計算購買商品總價      
        subTotal += item.fAmount;

        // 選擇商品數量的選單只能選擇 1 ~ 9
        var ddlQtyList = new SelectList(Enumerable.Range(1, 9), item.fQty);

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fOrderGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @String.Format("{0:0,0}", item.fPrice)                
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.fQty, ddlQtyList, new { onchange = "UpdateFromCart(this," + @item.fId + ");" })
            </td>   
            <td>@String.Format("{0:0,0}", item.fAmount)</td>
            <td>
                <a href="@Url.Action("DeleteCar")?fId=@item.fId" class="btn btn-danger">刪除購物車</a>
            </td>
        </tr>
    }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>總價</td>
            <td id="subtotal">NT$ @String.Format("{0:0,0}", subTotal)</td>
            <td></td>
            <td></td>
        </tr>

</table>

<form action="@Url.Action("ShoppingCar")" method="post">
    <div class="form-horizontal">
        <h4>填寫訂單收件人資料</h4>
        <hr />

        <div class="form-group">
            <span class="control-label col-md-2">收件人姓名</span>
            <div class="col-md-10">
                <input type="text" id="fReceiver" name="fReceiver" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">收件人信箱</span>
            <div class="col-md-10">
                <input type="email" id="fEmail" name="fEmail" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">收件人地址</span>
            <div class="col-md-10">
                <input type="text" id="fAddress" name="fAddress" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確認訂購" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>